@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e232d;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

html{
  scroll-behavior: smooth;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5) !important; /* Default state - semi-transparent white */
  transition: background-color 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important; /* Active state - solid white */
}

.timeline-icon {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
  border-radius: 50%; /* Ensures the image is circular */
}

/* Custom CSS for icon sizes */
.icon-size {
  font-size: 22px; /* Default size for icons */
}

.icon-size-hero{
  font-size: 18px;
}

@media (min-width: 640px) {
  /* Size for icons when screen width is at least 640px (sm breakpoint) */
  .icon-size {
    font-size: 28px;
  }
  .icon-size-hero{
    font-size: 22px;
  }
}

/* Custom CSS for icon hover effect */
.hover-effect {
  transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
  transform: translateY(-5px) scale(1.1);
}